body{
  background-color:#D8EEFE;
}
hr{
  background-color: #D8EEFE;
  border-style: dotted none none none;
  border-width:8px;
  border-color: grey;
  width:10%;
}
h1{
  color:#66bfbf;
}
h3{
  color:#66bfbf;
}
.profilepic{
  border-radius:100%;
}
